* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}
#login{
    display: flex;
    justify-content: end;
    align-items: end;
}

.logo {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 79px;
    border-radius: 50px;
    /* padding-right: 200px; */
    border: 2px red;
}

.navbar {
    top: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    cursor: pointer;
}

.nav-list {
    width: 70%;
    display: flex;
    align-items: center;
    margin-right: 50%;
    list-style: none;
}

.nav-list li {
    list-style: none;
    padding: 26px 18px;
    font-size: 20px;
}

.nav-list a {
    text-decoration: none;
    color: white;
}

.nav-list a:hover {
    color: grey;
}

.background {
    background: rgba(0, 0, 0, 0.7) url('../img/image1.jpg');
    background-size: cover;
    background-blend-mode: darken;
}

.heading h1 {
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 80px;
    margin-top: 30px;
    text-transform: uppercase;

}

.container {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    margin-right: 10%;
}

.home {
    width: 23%;
    padding: 0 20px;
}

.home p {
    font-size: 1.8rem;
    font-weight: bold;
}

.image {
    width: 23%;
    display: flex;
    justify-content: space-around;
    gap: 40px;
}

.image img {
    width: 400px;
    height: 58vh;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.grid img {
    margin-bottom: 15px;
    margin-top: 25px;
}

.heading2 h1 {
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 80px;
    margin-top: 30px;
    text-transform: uppercase;
}

.flexcontainer {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
}

.card1 {
    border: 1px solid black;
    padding: 0px 20px;
    border-radius: 10px;
    box-shadow: 3px 2px 2px 2px rgb(2, 106, 141);
}

.card1 h1 {
    align-items: center;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
    font-size: 2.5rem;
}

.card1 img {
    width: 350px;
    height: 350px;
    border-radius: 15px;
}

.card1 p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}

.card2 {
    border: 1px solid black;
    padding: 0px 20px;
    border-radius: 10px;
    box-shadow: 3px 2px 2px 2px rgb(2, 106, 141);
}

.card2 h1 {
    align-items: center;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
    font-size: 2.5rem;
}

.card2 img {
    width: 350px;
    height: 350px;
    border-radius: 15px;
}

.card2 p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}

.card3 {
    border: 3px solid black;
    padding: 0px 20px;
    border-radius: 10px;
    box-shadow: 3px 2px 2px 2px rgb(2, 106, 141);
}

.card3 h1 {
    align-items: center;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
    font-size: 2.5rem;
}

.card3 img {
    width: 350px;
    height: 350px;
    border-radius: 15px;
}

.card3 p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}

.container1 {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    margin-bottom: 20px;
}

.card4 {
    border: 1px solid black;
    padding: 0px 20px;
    border-radius: 10px;
    box-shadow: 3px 2px 2px 2px rgb(2, 106, 141);
}

.card4 h1 {
    align-items: center;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
    font-size: 2.5rem;
}

.card4 img {
    width: 350px;
    height: 350px;
    border-radius: 15px;
}

.card4 p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}

.card5 {
    border: 1px solid black;
    padding: 0px 20px;
    border-radius: 10px;  
    box-shadow: 3px 2px 2px 2px rgb(2, 106, 141);
}

.card5 h1 {
    align-items: center;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
    font-size: 2.5rem;
}

.card5 img {
    width: 350px;
    height: 350px;
    border-radius: 15px;
}

.card5 p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}
.text-footer {
    text-align: center;
    padding: 30px 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    color: white;
}